@import "tailwindcss";

/* 
   Configuración de Fuentes Locales 
*/

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --color-light: #fdfdfd;
    --color-medium: #B0ADA8;
    --color-dark: #2C2C2C;
    --color-gold-light: #C4A882;
    --color-gold: #8B7355;

    --font-heading: "Raleway", sans-serif;
    --font-body: "Inter", sans-serif;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Inter", sans-serif;
        @apply antialiased;
    }

    h1, h2, h3, h4, h5, h6, .font-heading {
        font-family: "Raleway", sans-serif !important;
    }
}

/* Forzado extra para el logo */
.font-heading {
    font-family: "Raleway", sans-serif !important;
}